body {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#searchbar{
  margin-top: 20px;
}
section {
  
 
  padding: 10px;
  width: 50%;
  border-radius: 50px;
  
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  

  
   h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
  }
  
  
  
  footer{
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 16px;
    color: white;
  
  }